# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/launch.json

# Flutter/Dart/Pub
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/app/libs
android/idea
android/.gradle
android/captures
android/local.properties
android/key.properties

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Supabase / Secrets (Future proofing)
.env